.container{
    display: grid;
    grid-template-columns: auto 400px;
    height: 100%;
    box-sizing: border-box;
}
.rightContainer{
    background-color: #F7F7F7;
    height: 100%;
    box-shadow: 0 2px 5px rgb(0 0 0 / 40%);
}